:root {
    --vermelho: rgb(255, 0, 0);
    --preto: black;
}

* {
    margin: 0;
    padding: 0%;
    box-sizing: border-box;
}


/*Estilo para o corpo do site em geral*/

body {
    color: white;
    background-color: var(--preto);
    font-family: 15px 'Times New Roman', Times, serif;
}

header div nav a {
    color: rgb(224, 224, 224);
    text-decoration: none;
    margin-left: 5px;
    margin-right: 10px;
}

a:hover {
    color: rgb(153, 153, 153);
}

header .container {
    margin: 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
    color: var(--vermelho);
}


/*Estilo para o file em destaque*/

.filme_destaque {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    font-size: 15px;
    height: 500px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: linear-gradient(rgba(0, 0, 0, 0.50), rgba(0, 0, 0, 0.50) 100%), url("/img/capadestaque.jpg");
}

.filme_destaque .sinopse {
    margin-bottom: 40px;
}

.titulo {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 40px;
}

.botao {
    background-color: rgba(0, 0, 0, 0.50);
    border: none;
    color: white;
    padding: 15px 20px;
    margin-left: 15px;
    border-radius: 2px;
    cursor: pointer;
    transition: 1s;
}

.botao:hover {
    background-color: white;
    color: black;
}

.botao i {
    margin-right: 7px;
}

.filme_destaque .container {
    margin-left: 50px;
    height: 70%;
}

.filme_destaque .container p {
    margin-left: 10px;
}